<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="features" type="FeatureFlagger.ConfigurationReaders.FeaturesSection, FeatureFlagger.ConfigurationReaders" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <features>
    <test enabled="true">
      <from date="2015-03-20" />
      <rollout percentage="25" basis="user" name="barndoor" />
      <fullmoon />
    </test>
    <example enabled="true">
      <from date="2015-03-20" />
    </example>
  </features>
</configuration>