<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="features" type="FeatureFlagger.ConfigurationReaders.FeaturesSection, FeatureFlagger.ConfigurationReaders" />
  </configSections>
  <features>
    <flag name="example" enabled="true"></flag>
    <flag name="disabled" enabled="false"></flag>
    <flag name="from" enabled="true">
      <from date="2015-03-20" />
    </flag>
    <flag name="test" enabled="true">
      <from date="2015-03-20" />
      <rollout percentage="25" basis="user" name="barndoor" />
      <fullmoon />
    </flag>
  </features>
</configuration>